{% extends 'base.html' %}
{% block title %}blogpost-{{myblog.0.slug}}{% endblock title %}
{% block blog %}active{% endblock blog %}
{% block body %}
{% comment %} here we load our made templates which  is in templatetags folder and use it in 51'st line {% endcomment %}
{% load get_dict %}
<div class="container">
    <h3>Title: {{myblog.0.title}}</h3>
    <p>By : {{myblog.0.author}}</p>
    <p>{{myblog.0.time}}</p>
    <h4>Content ---:</h4>
    <p>{{myblog.0.content}}</p>
</div>
<div class="container" style='background-color: #eff0f0;'>
    {% if user.is_authenticated %}
    <h3>Comments ({{comments.count}})</h3>
    <div class="container">
        <form action="/blog/blogcomments" method="post">
            {% csrf_token %}
            <input type="text" name="comment" required>
            <input type="hidden" name="blogsno" value="{{myblog.0.srno}}">
            <input type="hidden" name='parentsno' value=''>
            <button type="submit" class='btn btn-dark'>Comment</button>
        </form>
    </div>
    {% else %}
    <p>please login to post comments</p>
    {% endif %}
    <div class="row">
        <div class="col-md-2">Users...</div>
        <div class="col-md-10">comments...</div>
    </div>
  {% for comment in comments %} 
    <div class="row my-2">
        <div class="col-md-2">{{comment.user.first_name}}</div>
        <div class="col-md-10">{{comment.comment}}
              <div class="container">
                {% if user.is_authenticated %}
                <b><ul><li  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{comment.srno}}" aria-expanded="false" aria-controls="collapseExample">
                    reply
                  </li>
                </ul></b>
                {% else %}
                <b><ul><button class='btn btn-dark'  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{comment.srno}}" aria-expanded="false" aria-controls="collapseExample" disabled>
                  login to reply
                </button>
              </ul></b>
                {% endif %}
                <div class="collapse" id="collapseExample{{comment.srno}}">
                  <div class="card card-body" style='background-color:#b2b2b2'>
                    <form action="/blog/blogcomments" method="post">
                        {% csrf_token %}
                        <input type="text" name='pcomment' required>
                        <input type="hidden" name='parentsno' value='{{comment.srno}}'>
                        <input type="hidden" name="blogsno" value="{{myblog.0.srno}}">
                        <button type="submit" class='btn btn-sn btn-dark'>replies</button>
                    </form>
                    {% for reply in rep|get_val:comment.srno %}
                    <p>{{reply.comment}}({{comment.user}})</p>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>
 {% endfor %}
</div>

{%endblock body%}